doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title = WLAN Survey Design - Powered by puddleJump
        link(href="../assets/reportv1.css" rel="stylesheet" type="text/css")
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")

    body
        div#container

            // Cover Page
            div.page
                div.header
                    div.headertitle
                        h1 WLAN
                            br
                            SURVEY DESIGN
                    img.clientlogo(src=plan.details.client.logo)
                div.content
                    div.halfleft
                        p.details=plan.details.client.name
                            br
                            =plan.details.project
                            br
                            =plan.details.site
                        div.cardtitleblue Project Details
                    div.halfright
                        p.details=plan.details.address
                            br
                            =`${plan.details.city} ${plan.details.state}, ${plan.details.zipcode}`
                            br
                            =plan.details.floors
                        div.cardtitlegrey Site Details
                    div.full
                        p.contacts
                            each contact in plan.details.contacts
                                =contact.position
                                br
                                =contact.name
                                br
                                =`${contact.phone} ${contact.email}`
                        div.cardtitleblack Contacts
                    div.halfleft
                        p.details
                            =plan.details.msp.name
                            br
                            Designer: =plan.details.designer.name
                            br
                            =today
                        div.cardtitleblack Presented by
                div.footer
                    img.msplogo(src=plan.details.msp.logo)
                    img.pjlogo(src=`${assetsDir}/pbpj.png`)

            // BOM
            div.page
                div.header
                    div.headertitle
                        h2
                            =plan.details.project
                            br
                            =plan.details.site
                        h3='Bill of Materials'

                    img.clientlogo(src=plan.details.client.logo)
                div.content
                    div.third
                        p.aps=`${plan.stage.aps.length}`
                        div.cardtitlegreen APs
                    div.third
                        p.ams=`${plan.stage.ams.length}`
                        div.cardtitleblue AMs
                    div.smallstack
                        div.small
                            p.mounts=`${plan.stage.aps.length}`
                            div.cardtitlegrey Mounts
                        div.small
                            p.sfps=`${plan.stage.aps.length}`
                            div.cardtitleblack SFPs
                    div.full

                        each controller in plan.details.controllers
                            p.controllers=`${controller.country} - ${controller.model}`
                                if controller.ha
                                    - HA
                            p=controller.description

                        div.cardtitledarkblue Controllers

                    div.full
                        div.licenses

                            each lic in plan.details.licenses
                                div=lic.serial

                        div.cardtitledarkgreen Licenses

                    div.full
                        div.bom
                            table.bom
                                tr(valign='top')
                                    th(width='22%' align='left') Part No.
                                    th(width='70%' align='left') Description
                                    th(width='8%' align='center') Qty

                                each part in plan.details.parts
                                    tr(valign='top')
                                        td(align='left')=part.name
                                        td=part.desc
                                        td(align='center')=part.nr

                div.footer
                    img.msplogo(src=plan.details.msp.logo)
                    img.pjlogo(src=`${assetsDir}/pbpj.png`)

            // Floor plan
            div.page
                div.header
                    div.headertitle
                        h2
                            =`${plan.details.project}`
                            br
                            =`${plan.details.site}`
                            br
                            =`${plan.details.building}`
                    img.clientlogo(src=plan.details.client.logo)
                div.content
                    div.full
                        img.floor(src=`../../../public/uploads/${plan.thumb.replace('-thumb.jpg', '.png')}`)
                    div.full
                        div.placements
                            each ap, api in plan.stage.aps
                                span.am=`${api + 1}: ${ap.inventory.name}`
                div.footer
                    img.msplogo(src=plan.details.msp.logo)
                    img.pjlogo(src=`${assetsDir}/pbpj.png`)


            // THANK YOU page
            div.page
                div.tycontent(align='center')
                    div.tycard
                        p Thank you!
                    div
                        img(src=plan.details.msp.logo)
                    div
                        img(src=`${assetsDir}/pJlogo.png`)
